body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    place-content: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, minmax(130px, 1fr));
    grid-template-rows: repeat(3, minmax(130px, 1fr));
    align-content: center;
    justify-content: center;

    width: 500px;
    height: 500px;

    border: 2px solid black;

}

.tiles {
    border: 1px solid rgba(128, 128, 128, 0.123);
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

